@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }



#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid lightgrey;
}

main {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

#footer {
    height: 200px;
    background-color: whitesmoke;
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}

h3 {
    padding: 10px;
}

#contactBtn {
    margin: 50px;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.readMoretBtn {
    padding: 15px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 30%;
    margin: 15px 15px;
}

#logo {
    margin: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
}

.heroText {
    font-size: 80px;
}



.textContainer {
    width: 70%;
}

.people {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;

}

.personContainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.personInfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    width: 300px;
}

.image {
    object-fit: cover;
    width: 300px;
    height: 400px;
    background-color: lightgrey;
}



#kompetens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;

}


.kompContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerKomp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.komp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    color: black;
    background-color: whitesmoke;
    border-radius: 50px;
    font-weight: bold;
    margin: 5px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
}




@media screen and (max-width: 992px) {
    .heroText {
        font-size: 60px;
    }
    .headerKomp {
        width: auto;
    }
}
@media screen and (max-width: 600px) {
.heroText {
    font-size: 30px;
}
.headerKomp {
    font-size: 25px;
}
#contactBtn {
    padding: 10px 10px;
}
span {
    font-size: 15px;
    height: 30px;
}
}

@media screen and (max-width: 420px) {
    .heroText {
        font-size: 20px;
    }
    #contactBtn {
        padding: 7px 7px;
    }
    span {
        font-size: 10px;
    }
}