* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }



#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid lightgrey;
}

main {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

#footer {
    height: 200px;
    background-color: whitesmoke;
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}

#contactBtn {
    margin: 50px;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#readMoretBtn {
    padding: 15px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 30%;
}

#logo {
    margin: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 80px;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 1px solid lightgrey;
}

.heroText {
    font-size: 80px;
}

.textContainer {
    width: 70%;
}

.people {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;

}

.personContainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.image {
    width: 300px;
    height: 400px;
    background-color: lightgrey;
}


.personInfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    width: 300px;
}

.contactContainer {
    display: flex;
    width: 100%;
    height: 600px;

}

.contactMap {
    background-color: whitesmoke;
    width: 60%;
    height: 100%;
}

.contactText {
    padding: 20px;
    width: 40%;
    height: 100%;

}