* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid lightgrey;
}

main {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

#contactBtn {
    margin: 50px;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

#readMoretBtn {
    padding: 15px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 30%;
}

#logo {
    margin: 50px;
}

#slogan {
    font-style: italic;
}

.title {
    margin-top: 50px;
    text-align: center;
 }

.projekt {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;

}

.container {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 200px;
    width: 800px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    width: 300px;
}

.skillsInfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    padding: 40px;

}

.image {
    width: 450px;
    height: 300px;
    object-fit: cover;
    background-color: lightgrey;
}

form {

    width: 300px;
    padding: 40px;
}

#kontaktBtn {
    margin-top: 10px;
     padding: 10px;
     border: none;
     background-color: rgb(85, 111, 180);
     color: white;
     cursor: pointer;
     font-size: 14px;
     width: 180px;
 }
 

.skills {
    padding: 10px;
}



.starContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.projektText {
   display: flex;
}

.projektContainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;  
}

#footer {
    height: 200px;
    background-color: whitesmoke;
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#name {
    padding: 5px;
}

#email {
    padding: 5px;

}



@media screen and (max-width: 992px) {
   .container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
   }

   .image{
    width: 100%;
   }

   form {
    padding: 0;
   }

   .skillsInfo {
    padding: 0;
   }

   .projektContainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
    
  }

